.topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF1F1;
    height: clamp(40px, 4vw, 80px);
    color: black;
    padding: 8px 20px;
}

@media screen and (max-width: 800px) {
    .topnav {
      height: 60px;
    }
  }

.nav-elements {
    padding-top:10px;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .nav-elements {
      display: none;
    }
  }

.hamburger{
    padding: 12px
}

@media screen and (min-width: 800px) {
    .hamburger {
      display: none;
    }
  }

.button-plain {
    background-color: transparent;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-family: "kantumruy-pro", sans-serif;
}

.button-plain:hover {
    color: #CA2959;
}

.button-box {
    background-color: #CA2959;
    border: none;
    color: white;
    margin: clamp(10px, 1rem - 0.25vw, 0px) 0px;
    padding: 10px clamp(15px, 1vw, 24px);
    border-radius: 5px;
    text-align: center;
    font-size: clamp(10px, 1vw, 16px);
    transition-duration: 0.4s;
    font-family: "kantumruy-pro", sans-serif;
}

.button-box:hover {
    background-color: #7E0D2F;
}

.button-box-big {
    background-color: #CA2959;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: clamp(8px, 0.75vw, 15px) clamp(10px, 2vw, 30px);
    font-size: clamp(10px, 2vw, 35px);
    transition-duration: 0.4s;
    font-family: "kantumruy-pro", sans-serif;
}

.button-box-big:hover {
    background-color: #7E0D2F;
}

.flex-container {
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
    .flex-container {
      flex-wrap: wrap;
    }
  }

.flex-card-mini {
    display: flex;
    width: 250px;
    height: clamp(200px, 28vw, 280px);
    margin: 5px;
    background-color: #EE7196;
    color:white; 
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.flex-card{
    display: flex;
    border-radius: 20px;
    background-color: #EE7196;
    align-items:flex-start;
    margin: 60px 80px; 
    padding: clamp(10px, 2rem + 0.5vw, 50px)  clamp(10px, 5vw, 50px); 
    color:white; 
    flex-direction: column;
}

.cupcake-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 50px;
}

.cupcake{
    display: flex;
    border-radius: 20px;
    background-color: #F9BCCE;
    flex-direction: column;
    padding: 20px;
    width: 250px;
    height: clamp(250px, 35vw + 8rem, 400px);
    margin: 5px;
    justify-content: space-evenly;
}

.header {
    padding: 20px 0px;
}

body{
    background-color: #FFF1F1;
    font-family: "kantumruy-pro", sans-serif;
    margin: 0px;
}
.img{
    padding: 12px
}

.image-hide{
    padding: 12px
}

@media screen and (max-width: 800px) {
    .image-hide {
        display: none;
    }
  }

.center {
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: space-evenly;
  }

h1{
    font-size: clamp(30px, 7vw, 90px);
    font-family: "sigurd-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 800;
    line-height: 0.9;
    margin:0px
}
h2{ 
    font-size: clamp(2px, 5.5vw, 75px);
    font-family: "sigurd-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 800;
    line-height: 0.9;
    margin:0px
}
h3{ 
    font-weight: normal; 
    font-family: "kantumruy-pro", sans-serif;
    font-size: clamp(10px, 2.5vw, 30px);
    margin:0px;
    text-align: center;
}

h4{ 
    text-align: left;
    font-weight: normal; 
    font-family: "kantumruy-pro", sans-serif;
    margin:10px;
    font-size: clamp(8px, 2.5vw, 25px);
}

h5{ 
    font-weight: normal; 
    font-family: "kantumruy-pro", sans-serif;
    font-size: clamp(8px, 1.5vw, 25px);
    margin:10px;
    text-align: center;
}

p{
    line-height: 1.1;
    font-size: clamp(8px, 0.5vw + 0.6rem, 20px);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.footer{
    display: flex;
    background-color: #F9BCCE;
    flex-direction: row;
    margin: 0px;
    padding: 20px;
    justify-content: center;
}